<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/find-my-flock/image/upload/v1519105184/soup_banner.jpg');">
  <div class="banner-content">
    <h1>Soup Night Recipes</h1>
    <p>Soups we have made, and soups we should make.</p>
  </div>
</div>

<div class="text-center">
  <h1>What is 'soup night'?</h1>
  <p>Soup Night is a 1x/month celebration of community, warmth, and food. <br>
    Normally I (Kate) make everyone soup, you come and eat it. Maybe you bring something to contribute as well. Or just show up and smile.
    <br>
    <br>
    What follows is a fun collection of the best soups we've had, searchable by ingredient. <br>
    Add YOUR suggestion of the next soup we should make as well!
  </p>

  <%= link_to 'Add a soup!', new_cocktail_path(@cocktail), class: "btn btn-treehouse" %>

</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
